
body {
  padding: 24px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navBar {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 20px;
}

.bookList {
  width: 400px;
}

.bookItem {
  display: flex;
  justify-content: space-between;
}
